/**
 * Font REM
 * -- convert and output px and rem
 * -- font-rem( $font-size-px )
 */
@mixin font-rem( $font-size-px ) {
	$rem-font-size: ( $font-size-px / $reset-font-divider );

	font-size: #{$font-size-px}#{'px'};
	font-size: #{$rem-font-size}#{'rem'};
}

/**
 * Responsive Media Query Helpers
 * -- responsiveQuery(xs)
 * -- responsiveQuery("(min-width: 100em)")
 */
@mixin responsiveQuery($media: null,$number: null) {
	@if $number != null {
		@media only screen and (min-width: $number){ @content; }
	}

	// MOBILE
	@else if $media == xs or $media == 480 {
		@media only screen and (min-width: 30em)   { @content; } // 480
	}

	// PHABLET / SMALL TABLET / NETBOOK / SMALL SCREEN
	@else if $media == s or $media == 600 {
		@media only screen and (min-width: 37.5em) { @content; } // 600
	}
	@else if $media == m or $media == 768 {
		@media only screen and (min-width: 48em)   { @content; } // 768
	}

	// DESKTOP / LARGE TABLET
	@else if $media == l or $media == 1024 {
		@media only screen and (min-width: 64em)   { @content; } // 1024
	}

	// MASSIVE SCREEN
	@else if $media == xl or $media == 1280 {
		@media only screen and (min-width: 80em)   { @content; } // 1280
	}
	@else if $media == xxl or $media == 1440 {
		@media only screen and (min-width: 90em)   { @content; } // 1440
	}
	@else if $media == final or $media == 1920 {
		@media only screen and (min-width: 120em)  { @content; } // 1920
	}
	@else if $media == retina {
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { @content; } // retina
	}

	// OTHER
	@else {
		@media only screen and #{$media} { @content; } // anything else
	}
}

/**
 * Clearfix as a mixin
 */
@mixin clearfix() {
	@extend %clearfix;
}


/**
 * Horizontally and vertically centers block elements
 *
 * Important: you must have a parent element with `position: relative`.
 */
@mixin center-both {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



/**
 * Retina Image Helper
 *
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * by Nathan Crank (nathancrank.com)
 */
@mixin at2x($path, $ext: "jpg") {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: url("#{$at1x_path}");

	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (   min--moz-device-pixel-ratio: 1.5),
	only screen and (     -o-min-device-pixel-ratio: 3/2),
	only screen and (        min-device-pixel-ratio: 1.5),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 1.5dppx) {
		background-image: url("#{$at2x_path}");
	}
}

/**
 * Helpers
 */

//-- font mixin to do the heavy lifting...
@mixin font($weight, $size, $italic:false) {
	@include font-rem($size);
	font-family:$primary-font-family;
	@if $weight == reg {
		font-weight:400;
	}
	@else if $weight == semi {
		font-weight:600;	
	}
	@else if $weight == bold {
		font-weight:700;	
	}
	@else if $weight == xbold {
		font-weight:800;	
	}
	@else if $weight == light {
		font-weight:300;	
	}
	@if $italic == true {
		font-style:italic;
	}
}

//-- for CSS transitions...
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//-- for CSS transform...
@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

//-- for CSS box-shadow...
@mixin boxshadow($x,$y,$blur,$r,$g,$b,$a) {
  -webkit-box-shadow:$x+px $y+px $blur+px rgba($r,$g,$b,$a);
  -moz-box-shadow:$x+px $y+px $blur+px rgba($r,$g,$b,$a);
  -ms-box-shadow:$x+px $y+px $blur+px rgba($r,$g,$b,$a);
  -o-box-shadow:$x+px $y+px $blur+px rgba($r,$g,$b,$a);
  box-shadow:$x+px $y+px $blur+px rgba($r,$g,$b,$a);
}