// client colors
$primary-color: #f0494a !default; //red
$primary-font-color: #FFF !default; //white

$secondary-color: #851c96 !default; //black
$secondary-font-color: #fff !default; //white

$tertiary-color-one: #242323 !default; //dark gray
$tertiary-font-color: #c5c4c4 !default; //whiteish gray


// monochrome colors
$black:        #000;
$gray-darker:  #222 !default;
$gray-dark:    #626261 !default;
$gray:         #888 !default;
$gray-light:   #bbb !default;
$gray-lighter: #f9f9f9 !default;
$white:        #fff;

// multi colors
$blue:         #5bc0de !default;
$green:        #5cb85c !default;
$orange:       #f0ad4e !default;
$red:          #d9534f !default;

// sizing
$base-max-width: 1140px !default;
$base-page-gutter: 20px !default;

// font sizing
$reset-font-divider: 10;
$reset-font-size: ( 100 / 16 ) * $reset-font-divider !default;
$base-font-size: 16 !default;
$base-line-height: 1.5 !default;

// font styles
$primary-font-family: 'Montserrat', sans-serif !default;
$secondary-font-family: 'Source Sans Pro', sans-serif !default;
$base-font-family: $primary-font-family !default;
$base-font-color: $black !default;
$base-text-align: left !default;

// miscellaneous
$highlight-background-color: $blue !default;
$highlight-text-color: $white !default;
$hr-color: $gray-light !default;

// typography
// heading font sizes based off $base-font-size = 16
$heading-font-sizes-small: (
	'h1': 45,
	'h2': 30,
	'h3': 25,
	'h4': 16,
	'h5': 14,
	'h6': 12
);

$heading-font-sizes-medium: (
	'h1': 65,
	'h2': 40,
	'h3': 35,
	'h4': 16,
	'h5': 14,
	'h6': 12
);

$heading-font-sizes-large: (
	'h1': 75,
	'h2': 50,
	'h3': 35,
	'h4': 26,
	'h5': 24,
	'h6': 22
);

$headings-font-family: $primary-font-family !default;
$headings-font-weight: 800 !default;
$headings-line-height: 1.25 !default;
$headings-color:       inherit !default;

$link-color: $primary-color !default;
$link-color-hover: $secondary-color !default;

$blockquote-font-size:     ceil(($base-font-size * 1.2)) !default; // ~18px
$blockquote-border-color:  $gray-light !default;
$blockquote-small-color:   $gray-light !default;