//----------------------------------*\
// VARS
//----------------------------------*/

//----------------------------------*\
// STYLES
//----------------------------------*/
/**
 * Border box all the things
 */
* {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

* {
	min-height: 0;
	min-width: 0;
}

/*
 * Highlighting colors
 */
::-webkit-selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

::selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

*:focus {
	outline: none;
}


/**
 * HTML tag
 */
html {
	font-size: #{$reset-font-size}#{'%'}; // Reset HTML font size to ~10px so that REM font measurement can be easily divided
}

/**
 * BODY tag
 */
body {
	color: $base-font-color;
	font-family: $base-font-family;
	@include font-rem($base-font-size);
	line-height: #{$base-line-height};
	text-align: #{$base-text-align};
}

/*
 * Headings
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	padding: 0;
	margin: 0 0 15px;
	letter-spacing: -2px;
	&.primary {
		color: $primary-color;
	}
	&.secondary {
		color: $secondary-color;
	}
	&.tertiary {
		color: $tertiary-color-one;
	}
}

@each $h, $h-size in $heading-font-sizes-small {
	#{$h}, .#{$h} {
		@include font-rem($h-size);
	}
}

@include responsiveQuery(m) {
	@each $h, $h-size in $heading-font-sizes-medium {
		#{$h}, .#{$h} {
			@include font-rem($h-size);
		}
	}
}

@include responsiveQuery(l) {
	@each $h, $h-size in $heading-font-sizes-large {
		#{$h}, .#{$h} {
			@include font-rem($h-size);
		}
	}
}

/**
 * Body Text
 */
p {
 	padding: 0 0 10px;
 	margin: 0;

 	& + ul,
 	& + ol {
 		margin-top: -5px;
 		margin-bottom: 5px;
 	}

 	@include responsiveQuery(m) {
 		padding-bottom: 15px;

 		& + ul,
 		& + ol {
 			margin-top: -10px;
 			margin-bottom: 10px;
 		}
 	}
}

strong, b {
	//text-transform: uppercase;
}

/*
 * Links
 */
a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		color: $link-color-hover;
	}
}

/**
 * Lists
 */
ul,
ol {
	margin-top: 10px;
	margin-bottom: 30px;

	ul,
	ol {
		margin-bottom: 0;
	}
}

%list-unstyled,
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

/**
 * Blockquotes
 */
blockquote {
	@include font-rem($blockquote-font-size);
	border-left: 5px solid $blockquote-border-color;
	padding: ($base-page-gutter / 2) $base-page-gutter;
	margin: 0 0 $base-page-gutter;

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	footer {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: $base-line-height;
		color: $blockquote-small-color;

		&:before {
		  content: '\2014 \00A0'; // em dash, nbsp
		}
	}

	&-reverse {
		padding-right: 15px;
		padding-left: 0;
		border-right: 5px solid $blockquote-border-color;
		border-left: 0;
		text-align: right;

		// Account for citation
		footer {
			&:before { content: ''; }
			&:after {
				content: '\00A0 \2014'; // nbsp, em dash
			}
		}
	}
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $hr-color;
	margin: 1em 0;
	padding: 0;
}

br {
	line-height: 0;
	font-size: 0;
}

/**
 * Text meant only for screen readers
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
	resize: vertical;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
	vertical-align: middle;
}

/**
 * Images
 */
img {
	max-width: 100%;
	height: auto;
}
.responsive--full {
	width: 100%;
}

/**
 * Responsive Embeds
 */
.embed-responsive {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 0;
	padding: 0;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}

	&--ar16x9 {
		padding-top: 56.25%;
	}

	&--ar4x3 {
		padding-top: 75%;
	}
}

// Clearfix
%clearfix,
.clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}