
.button, [type="submit"], .woocommerce a.button {
	cursor: pointer;
	position: relative;
	display: inline-block;
	@include font-rem(18);
	font-family: $primary-font-family;
	font-weight: normal;
	line-height: normal;
	color: inherit;
	text-decoration: none;
	text-align: center;
	background: transparent;
	border: solid 2px;
	padding: 7px 20px;
	margin-bottom: 10px; 
	margin-right: 10px;
	vertical-align: middle;
	border-radius: 0;
	transition: all 0.5s;
	overflow: hidden;
	text-transform: uppercase;

	&:hover {
		color: $white;
		background: $primary-color;
		border: 2px solid transparent;
	}

	&.medium {
		@include font-rem(20);
		padding: 15px 50px;
	}

	&.large {
		@include font-rem(20);
		padding: 20px 60px;
	}

	&.white {
		color: $white;
		border-color: $white;
		&:hover {
			color: $black;
			background: $white;
		}
	}

	& + .button {
		margin-right: 15px;
	}
}


@include responsiveQuery(m) {
	.button, [type="submit"], .woocommerce a.button {
		@include font-rem(20);
	}
}

/*
 * Button : Submit
 */
[type="submit"] {
	border: 0 none;
	color: inherit;
	border: 2px solid $black;
	&:hover {
		border-bottom-color: $primary-color;
	}
}

.button-text {
	font-weight: 600;
	display: inline-block;
	padding: 10px 0;
	&:after {
		content: "\e902";
		font-family: 'icomoon';
		display: inline-block;
		@include font-rem(10);
		padding-left: 7px;
	}
}
