@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2glee');
  src:  url('../fonts/icomoon.eot?2glee#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2glee') format('truetype'),
    url('../fonts/icomoon.woff?2glee') format('woff'),
    url('../fonts/icomoon.svg?2glee#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chancetstorms:before {
  content: "\e907";
}
.icon-cloudy2:before, .icon-mostlycloudy:before {
  content: "\e908";
}
.icon-lightning:before, .icon-tstorms:before {
  content: "\e909";
}
.icon-weather:before, .icon-chancesleet:before, .icon-sleet:before {
  content: "\e90a";
}
.icon-snowy:before, .icon-chanceflurries:before, .icon-chancesnow:before, .icon-snow:before, .icon-flurries:before {
  content: "\e90b";
}
.icon-rainy:before, .icon-rain:before {
  content: "\e90c";
}
.icon-rainy2:before, .icon-chancerain:before {
  content: "\e90d";
}
.icon-cloud:before {
  content: "\e90e";
}
.icon-weather2:before, .icon-hazy:before, .icon-fog:before {
  content: "\e90f";
}
.icon-cloudy3:before, .icon-partlycloudy:before, .icon-cloudy:before {
  content: "\e910";
}
.icon-sun2:before, .icon-mostlysunny:before, .icon-partlysunny:before {
  content: "\e911";
}
.icon-sun3:before, .icon-clear:before, .icon-sunny:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-left-thick:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-sun:before {
  content: "\e906";
}
.icon-x:before {
  content: "\e900";
}
