/*.modal {
    position:fixed;
    display:none;
    z-index:9999;
    width: 100%;
    max-width: 1140px;
    max-height: 90%;
    overflow: hidden;
    
    img {
        width: 100%;
        margin: 0 auto;
    }
    
    &--content {
        position: fixed;
        background: $primary-color;
        color: $white;
        box-shadow: 5px 5px 10px 0px rgba($black, .5);
        
        @include responsiveQuery("(max-width:600px)") {
            position: relative;
            top: 20px !important; 
            left: 0 !important;
        }
    }
    
    &--slider {
        //top: calc(50% + 50px) !important;
        //transform: translateY(calc(-50% - 25px)) !important;
        top: 50%!important;
        transform: translateY(-50%) !important;
        
        img {
            width: auto;
            max-height: 80%;
        }
        
        .iframe_embed{
            width: 90%; 
            background-color: #000; 
            height: 0; 
            padding-bottom: 56%; 
            position: relative;
            margin: 0 5%;
            
            iframe{
                width:100%;
                height:100%;
                position:absolute;
            }
        }
        
        video {
            margin: 0 auto;
            width: 100%;
            display: block;
            max-width: 1000px;
        }
        
        figure {
            background: $white;
            margin: 0 auto;
            max-width: 1000px;
            
            .figure_img,
            figcaption {
                display: block;
                width: 100%;
            }
            
            .figure_img{
                img {
                    max-height: 300px;
                    width: auto;
                    max-width: 100%;
                }
            }
            
            figcaption {
                padding: 25px 40px;
                &::after {
                    content: "";
                    display: table;
                    clear: both;
                }
                
                .cap__title {
                    @extend .cs-slider__title; 
                    border-bottom: 1px solid $primary-color;
                    padding-bottom: 10px;
                    word-break: keep-all;
                }
                
                .cap__caption {
                    @include font-rem(12);
                    margin-top: 15px;
                    display: block;
                    line-height: 1.5;
                }
            }
            
            @include responsiveQuery(m) {
                //img,
                .figure_img,
                figcaption {
                    display: inline-block;
                    margin-left: -3px;
                    vertical-align: top;
                }
                
                .figure_img{
                    width: 70%;
                
                    img {
                        //width: 75%;
                        max-height: 600px;
                        max-width: 75%;
                    }
                }
                
                figcaption {
                    width: 30%;
                }
            }
        }
        
        .no_title{
            figure{
                @include responsiveQuery(l){
                    background-color: transparent;
                }
            }
        }
        .slick-slide{
            height: 80%;
        }
        
        .slick-dots {
            background: $white;
            padding: 5px 0;
        }
        
        .modal__close{
            right: 0;
            z-index: 9999999;
            top: 0;
            
            @include responsiveQuery("(min-width: 1140px)") {
                right: 70px;
            }
            span:not(.screen-reader-text) {
                background: $primary-color;

            }
            
        }
    }
    
    &__close {
        display: block;
        position: absolute;
        top: 10px;
        padding: 10px;
        right: 10px;
        width: 45px;
        height: 45px;
        background: none;
        border: none;
        transition: .5s;
        
        span:not(.screen-reader-text) {
            display: block;
            height: 1px;
            width: 100%;
            max-width: 25px;
            background: $white;
            
            
            &:nth-child(2),
            &:last-child {
                transform-origin: center;
            }
            
            &:nth-child(2) {
                transform: rotate(45deg);
                transition: .5s;
            }
            
            &:last-child {
                transform: rotate(-45deg);
                margin-top: -1px;
                transition: .8s;
            }
        }
        
        &:hover {
            transform-origin: center center;
            transform: rotate(180deg);
            
            span:not(.screen-reader-text) {
                &:nth-child(2),
                &:last-child {
                    transform: rotate(0deg);

                }
            }
        }
    }
    
    @include responsiveQuery("(max-width:1140px)") {
        left: 10px;
        right: 10px;
        width: auto;
    }
}
#mask {
    background:$black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}*/