/*
 * Container
 */
#container, .container {
	padding: $base-page-gutter;
	margin: 0 auto;
}


.bg-primary-color {
	background-color: $primary-color;
	color: $primary-font-color;

	.text_label {
		border-color: $white;
	}
	a {
		color: $white;
		&:hover {
			color: $black;
		}
	}
    .numbers-block {
        border-color: $white;
    }
}

.bg-secondary-color {
	background-color: $secondary-color;
	color: $secondary-font-color;
	.button.secondary {
		background: $primary-color;
	}
	.button, .button.black {
		color: $white;
		border-color: $white;
		&:hover {
			background: $primary-color;
		}
	}
}

.bg-tertiary-color {
	background-color: $tertiary-color-one;
	color: $tertiary-font-color;
}

.bg-gray-light {
	background-color: $gray-light;
	color: $black;
}

.bg-gray-lighter {
	background-color: $gray-lighter;
	color: $black;
}

.bg-white {
	background-color: $white;
	color: $black;
}

.bg-black {
	background-color: $black;
	color: $white;
	.button, .button.black {
		color: $white;
		border-color: $white;
		&:hover {
			background: $primary-color;
		}
	}
}

.bg-image {
	color: $white;
	.button {
		color: $white;
		border-color: $white;
		&:hover{
			border-color: transparent;
		}
	}
}


/*
 * Padding Helpers
 */
.pd_ {
	/* All */
	&0 {
		padding: 0px;
	}
	&20 {
		padding: 10px;
	}
	&50 {
		margin: 25px;
	}
	/* Top */
	&t0 {
		padding-top: 0px;
	}
	&t20 {
		padding-top: 10px;
	}
	&t50 {
		padding-top: 25px;
	}
	/* Right */
	&r0 {
		padding-right: 0px;
	}
	&r20 {
		padding-right: 10px;
	}
	&r50 {
		padding-right: 25px;
	}
	/* Bottom */
	&b0 {
		padding-bottom: 0px;
	}
	&b20 {
		padding-bottom: 10px;
	}
	&b50 {
		padding-bottom: 25px;
	}
	/* Left */
	&l0 {
		padding-left: 0px;
	}
	&l20 {
		padding-left: 10px;
	}
	&l50 {
		padding-left: 25px;
	}
}

/*
 * margin Helpers
 */
.mar_ {
	/* All */
	&t0 {
		margin: 0px;
	}
	&20 {
		margin: 10px;
	}
	&50 {
		margin: 25px;
	}
	/* Top */
	&t0 {
		margin-top: 0px;
	}
	&t20 {
		margin-top: 10px;
	}
	&t50 {
		margin-top: 25px;
	}
	/* Right */
	&r0 {
		margin-right: 0px;
	}
	&r20 {
		margin-right: 10px;
	}
	&r50 {
		margin-right: 25px;
	}
	/* Bottom */
	&b0 {
		margin-bottom: 0px !important;
	}
	&b20 {
		margin-bottom: 10px;
	}
	&b50 {
		margin-bottom: 25px;
	}
	/* Left */
	&l0 {
		margin-left: 0px;
	}
	&l20 {
		margin-left: 10px;
	}
	&l50 {
		margin-left: 25px;
	}
}

@include responsiveQuery(l) {
	/*
	 * Padding Helpers
	 */
	.pd_ {
		/* All */
		&0 {
			padding: 0px;
		}
		&20 {
			padding: 20px;
		}
		&50 {
			margin: 50px;
		}
		/* Top */
		&t0 {
			padding-top: 0px;
		}
		&t20 {
			padding-top: 20px;
		}
		&t50 {
			padding-top: 50px;
		}
		/* Right */
		&r0 {
			padding-right: 0px;
		}
		&r20 {
			padding-right: 20px;
		}
		&r50 {
			padding-right: 50px;
		}
		/* Bottom */
		&b0 {
			padding-bottom: 0px;
		}
		&b20 {
			padding-bottom: 20px;
		}
		&b50 {
			padding-bottom: 50px;
		}
		/* Left */
		&l0 {
			padding-left: 0px;
		}
		&l20 {
			padding-left: 20px;
		}
		&l50 {
			padding-left: 50px;
		}
	}

	/*
	 * margin Helpers
	 */
	.mar_ {
		/* All */
		&t0 {
			margin: 0px;
		}
		&20 {
			margin: 20px;
		}
		&50 {
			margin: 50px;
		}
		/* Top */
		&t0 {
			margin-top: 0px;
		}
		&t20 {
			margin-top: 20px;
		}
		&t50 {
			margin-top: 50px;
		}
		/* Right */
		&r0 {
			margin-right: 0px;
		}
		&r20 {
			margin-right: 20px;
		}
		&r50 {
			margin-right: 50px;
		}
		/* Bottom */
		&b0 {
			margin-bottom: 0px !important;
		}
		&b20 {
			margin-bottom: 20px;
		}
		&b50 {
			margin-bottom: 50px;
		}
		/* Left */
		&l0 {
			margin-left: 0px;
		}
		&l20 {
			margin-left: 20px;
		}
		&l50 {
			margin-left: 50px;
		}
	}
}

/*
 * Text
 */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

.mobile {
	@include responsiveQuery(m){
		display: none;
	}
}
.not-mobile {
	display: none;
	@include responsiveQuery(m){
		display: block;
	}
}
.not-mobile--small {
	display: none;
	@include responsiveQuery(s){
		display: inline-block;
	}
}

.displaynone {
	display: none;
}


/*
 * Logged In Navigation
 */
.logged-in-nav {
	opacity: .7;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	@include font-rem(11);
	text-transform: uppercase;
	background: $white;
	
	&:hover {
		opacity: 1;
		
	}

	ul,
	li {
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		padding: 0 5px;
	}

	a {
		text-decoration: none;
		color: $secondary-color;
		&:hover {
			color: $black;
		}
	}
}