//----------------------------------*\
// VARS
//----------------------------------*/
$search-border-radius: 3px;
$search-field-border-color: #a3a3a3;
$search-field-focus-border-color: $secondary-color;

//----------------------------------*\
// STYLES
//----------------------------------*/
.site-search {
	display: inline-block;
	vertical-align: middle;
	width: auto;
}

.site-search__field {
	border: solid $search-field-border-color;
	border-width: 1px;
	border-radius: $search-border-radius 0 0 $search-border-radius;
	padding: 8px 15px 8px;
	margin-right: 2px;
	max-width: 80%;
	width: 100%;
	@include font-rem(13);

	&:focus {
		border-color: $search-field-focus-border-color;
	}
}

.label {
	display: none;
}

.site-search__button {
	border-radius: 0 $search-border-radius $search-border-radius 0;
	padding: 4px 10px 3px 8px;
	background-color: $primary-color;
	color: $black;
	border: solid 1px $primary-color;
	@include responsiveQuery(m) {
		padding: 4px 10px 3px 8px;
	}
	&:hover {
		background-color: $secondary-color;
		border-color: $secondary-color;
	}
}

.site-search__field,
.site-search__button {
	float: right;
	&:active,
	&:focus {
		outline: 0 none;
	}
}

@include responsiveQuery(l) {
	.site-search {
		width: 100%;
	}
	.site-search__field {
		max-width: 50%;
	}
}